# Chezmoi Configuration

encryption = "age"
[age]
    command = "rage"
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age14ssnjc4z9raw7ggspwfxsjuvgtj05v2v6zt6favgng77er5rl9hse9ha3a"

[edit]
    command = "nvim"
    args = ["-u", "/Users/dziliak/.config/nvim/init.lua"]
