tap "anomalyco/tap"
tap "deskflow/tap"
tap "felixkratz/formulae"
tap "nikitabobko/tap"
tap "ra3xdh/qucs-s"
brew "bat"
brew "borgbackup"
brew "borgmatic"
brew "btop"
brew "chezmoi"
brew "difftastic"
brew "duti"
brew "eza"
brew "fastfetch"
brew "fd"
brew "ffmpeg"
brew "fzf"
brew "git-delta"
brew "gitleaks"
brew "libusb"
brew "htop"
brew "imagemagick"
brew "imagemagick-full"
brew "iperf3"
brew "jq"
brew "lazygit"
brew "llama.cpp"
brew "lua"
brew "luajit"
brew "tree-sitter"
brew "neovim"
brew "neovide"
brew "newsboat"
brew "node"
brew "pandoc"
brew "pngpaste"
brew "poppler"
brew "pre-commit"
brew "rage"
brew "rclone"
brew "ripgrep"
brew "starship"
brew "task"
brew "tasksh"
brew "taskwarrior-tui"
brew "terminal-notifier"
brew "timewarrior"
brew "tree-sitter-cli"
brew "uv"
brew "anomalyco/tap/opencode"
brew "felixkratz/formulae/sketchybar"
cask "nikitabobko/tap/aerospace"
cask "betterdisplay"
cask "deskflow/tap/deskflow"
cask "flameshot"
cask "font-atkinson-hyperlegible-next"
cask "font-atkynson-mono-nerd-font"
cask "font-hack-nerd-font"
cask "font-jetbrains-mono-nerd-font"
cask "freecad"
cask "hammerspoon"
cask "handy"
cask "inkscape"
cask "karabiner-elements"
cask "keepassxc"
cask "kicad"
cask "kitty"
cask "logseq"
cask "ltspice"
cask "neovide-app"
cask "ra3xdh/qucs-s/qucs-s"
cask "scroll-reverser"
cask "vlc"
uv "markitdown[all]"
uv "nbstripout"
uv "pre-commit"
uv "ruff"
